<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homePage</title>
</head>
<body>
{% block content %}
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Category</th>
            <th>Price</th>
            <th>Cur.</th>
        </tr>
        {% for obj in cars %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.brand }}</td>
                <td>{{ obj.model }}</td>
                <td>{{ obj.get_category }}</td>
                <td>{{ obj.price }}</td>
                <td>{{ obj.currency }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
</body>
</html>